.menubar-container {
  display: flex;
  justify-content: center;
}

:host ::ng-deep .p-menubar {
  width: 100%;
  justify-content: center;
}

:host ::ng-deep .p-menubar-root-list {
  margin: 0;
  display: flex;
  justify-content: center;
}

:host ::ng-deep .p-menubar-start {
  margin-right: auto;
}

:host ::ng-deep .p-menubar-end {
  margin-left: auto;
}
