@import "primeng/resources/primeng.css";
:root {
  --primary-color: #610094;
  --primary-light-color: #3F0071;
  --primary-dark-color: #150050;
  --primary-darker-color: #000000;
  --primary-text-color: #ffffff;
}
